AUTH_SECRET=your_auth_secret
# Connect to Supabase via connection pooling
DATABASE_URL="your_database_url"

# Direct connection to the database. Used for migrations
DIRECT_URL="your_direct_database_url"